@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Racing Sans One", sans-serif;
}

:root {
  --prmary: #00c2de;
}

body {
  background: #000000;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 1000;
}

header::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  height: 5px;
  width: 40%;
  background: linear-gradient(90deg, var(--prmary), transparent);
}

.logo {
  font-size: 30px;
  color: #ffff;
}

.logo img {
  max-width: 200px;
  filter: invert(1);
}

header .year {
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 40px;
  font-family: "Racing Sans One", cursive;
}

header .menu {
  position: relative;
  height: 30px;
  width: 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAPFBMVEX///+kpKTFxcXS0tIXFxcmJia5ubm1tbUqKiodHR38/PzLy8sAAADx8fHOzs7e3t4ICAjp6ekODg6fn5/2bLeUAAABQUlEQVR4nO3by27CMBAFULdAKZMHpPz/vzYgtTuqSp6IQTpnwdLyxU6iGdmtAQAAAAAAAAAAAAAAAAAAAADAtiIiZ5iWMs4GomVNrWrC1TTseg1T6YTD4bPXaSicMGIeT70uc9LzvIF1YufrW7dzq5swaXcVXsOW8QRFq7uGv1+yzp+6AVvK5G5/U+WIAAAvL6tRU7YCXvNN7/2mwtVTtOGy7zUOz87x2C3h16HXvnCfZp3XcvzodVzqJgQAAOA/ImI59lsK92laRo1/metWwLeEY0KfpnInKlJ6bZXXMOtcGwAA24mUewS1j1+mTK1yvnZfx04/I1WUVdcVrvFTzupfK5/Vj7XG775vMe7KLuG9i9F/Z+ZQ+bRJyr2neXp2jj+k7a6y2zTnbRpZ72QAAAAAAAAAAAAAAAAAAAAAAHjsG9FOHexwH35xAAAAAElFTkSuQmCC");
  background-size: 30px;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
}

header .menu.active {
  position: relative;
  height: 35px;
  width: 35px;
  background: url("https://icon2.cleanpng.com/20180606/fjj/aa9w14173.webp")
    no-repeat;
  background-size: 35px;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
}

.nav {
  z-index: 200;
  position: absolute;
  right: 100px;
  top: 0;
  width: 30%;
  height: 5px;
  border-bottom: 5px solid;
  border-image: linear-gradient(
      90deg,
      transparent,
      var(--prmary),
      var(--prmary)
    )
    30;
  background: transparent;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform-origin: right;
}

.nav.active {
  top: 100px;
  width: 40%;
  height: 100px;
  border-top: 5px solid;
  border-image: linear-gradient(
      90deg,
      transparent,
      var(--prmary),
      var(--prmary),
      transparent
    )
    30;
  border-bottom: none;
}

.nav li {
  opacity: 0;
  visibility: hidden;
  position: relative;
  list-style: none;
  transform: translateY(-100px);
  transition: 0.5s;
}

.nav.active li {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.nav li a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 8px 20px;
  transition: 0.2s;
  cursor: pointer;
}

.nav li a:hover {
  box-shadow: inset 0 0 20px rgba(0, 194, 222, 0.5);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
}

.banner::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 5px;
  height: 40%;
  background: linear-gradient(var(--prmary), var(--prmary), transparent);
  z-index: 100;
}

.banner .bg-video {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}

.banner .bg-video.active {
  display: block;
}

.banner .content {
  position: relative;
  max-width: 700px;
  padding-bottom: 200px;
  z-index: 100;
}

.banner .content h1 {
  font-size: 10em;
  color: #ffff;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: 5px;
}

.banner .content .model {
  font-size: 4em;
  text-transform: uppercase;
  color: var(--prmary);
  display: none;
}

.banner .content .model.active {
  display: block;
}

.banner .content p {
  color: #ffff;
  font-size: 200;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.banner .content a {
  position: relative;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 50px;
  background: transparent;
  border-bottom: 3px solid;
  border-image: linear-gradient(
      90deg,
      transparent,
      var(--prmary),
      var(--prmary),
      transparent
    )
    30;
  box-shadow: inset 0 0 10px rgba(0, 194, 222, 0.5);
  backdrop-filter: blur(20px);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
  transition: 0.5s;
}

.banner .content a:hover {
  box-shadow: inset 0 0 50px rgba(0, 194, 222, 0.5);
}

.banner .screen {
  position: absolute;
  right: 10%;
  bottom: 100px;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
  z-index: 100;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.screen div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.screen div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(transparent, var(--prmary));
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.shadow {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background: var(--prmary);
  transform: rotateX(-90deg) translateZ(150px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 194, 222, 0.2), 0 0 120px rgba(0, 194, 222, 0.4),
    0 0 120px rgba(0, 194, 222, 0.6), 0 0 120px rgba(0, 194, 222, 0.8),
    0 0 120px rgba(0, 194, 222, 1);
}
.screen div span video {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
}
.trailer {
  display: none;
}
.trailer.active {
  display: block;
}
.banner .gallery {
  position: absolute;
  content: "";
  left: 100px;
  bottom: 0;
  width: 55%;
  height: 30%;
  z-index: 100;
  background: transparent;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), 0 -10px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .gallery::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: var(--prmary);
  filter: blur(15px);
}

.banner .gallery .carousel {
  width: 100%;
  height: 100%;
}
.carousel .carousel-item {
  width: 250px;
  cursor: pointer;
}
.carousel .carousel-item img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  .brand-logo {
    font-size: 1.2rem;
  }
}
